// Breakpoints
$sx: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

//Colors
$color-white: #fff;
$color-black: #000;
$color-primary: #78c4cb;
$color-primary-50: #f3f3f3;
$color-primary-700: #848484;
$color-primary-800: #1096a5;
$color-primary-900:#212121;

// Fonts
$font-size-xs: 1rem;
$font-size-sm: 1.4rem;
$font-size-md: 1.8rem;
$font-size-lg: 2.2rem;

// Borders
$border-radius-xs: 0.75rem;
$border-radius-full: 100%;

// Shadows
$shadow-lg: 0 0.75rem 44px 0 rgba(78, 81, 82, .12);

/* Frame layout */
$frame-layout-width: 41.5rem;
$frame-layout-top-spacing: 2.8rem;
$frame-layout-paddings: 1rem 4.5rem 4.5rem 4.5rem;
$frame-layout-radius: 2.5rem;

/* Main layout */
$main-layout-width: 100%;