@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background: $color-primary-50;

  @include breakpoint(md) {
    background: transparent;
  }
}